.Playground {
  margin-top: 16px;
  box-sizing: border-box;
  padding: 16px;
}

.Playground-code {
  margin-top: 16px;
  margin-bottom: 16px;
}

.Playground-code-test {
  transition: height 0.3s ease;
}

.Playground-code-hidden {
  height: 3px !important;
}