.Playground {
  box-sizing: border-box;
  padding: 16px 32px;
  height: 100%;
  overflow-y: scroll;
}

.Playground-code {
  margin-top: 16px;
  margin-bottom: 16px;
}

.Playground-code-test {
  transition: height 0.3s ease;
}

.Playground-code-hidden {
  height: 3px !important;
}

.Playground-result {
  padding: 12px;
  background: #fffccb;
  color: #444;
  font-weight: 600;
  border: 1px solid #666;
}

.ui.tag.label.Playground-solved {
  margin-left: 20px;
}

.Playground-test-code-header {
  margin-right: 0 !important;
}
.Playground-header-menu {
  padding-right: 0 !important;
}

.ui.modal.Share-modal {
  text-align: center;
}
.ui.modal.Share-modal>.actions {
  text-align: center;
}

.Share-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.Share-actions div {
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.Share-close-button {
  padding: 8px;
  border: 1px solid #bbb;
  cursor: pointer;
}